.header {
  background-color: #293462;
  text-align: center;
  display: flex;
}

.name {
  margin-left: 2cm;
}

.one {
  color: #fff80a;
  font-family: "Rajdhani", sans-serif;
}

.two {
  margin-left: 10px;
  color: #d61c4e;
  font-family: "Edu VIC WA NT Beginner", cursive;
}
